.page12-passado{
    background-color: white;
}

.page12-futuro{
    background-color: #ff96c5;
}

.page12-hoje{
    background-color: #f70071;
}

.page12-actions{
    color: #fdf1f1;
}

.page12-actions:hover{
    color: #fdf1f1;
    background-color: #f70071;
}

.custom-tootip {
    position: relative;
}

.custom-tootip-text{
    visibility: hidden;
    width: 180px;
    border: 1px solid black;
    background-color: #ffa8d9;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    top: 20px;
    font-size: 0.9em;
  }
  
.custom-tootip:hover .custom-tootip-text {
    visibility: visible;
}

.on-toast{
    opacity: 0.50;
    pointer-events:none
}

.custom-toast{
    position: fixed;
    bottom: 15vh;
    left: 90vh;
    background-color: #fdf1f1;
    border: #f70071 solid 1px;
    border-radius: 5px;
}

.custom-toast .btn-close{
    width: 5vh;
    border: none;
    background-color: #fdf1f1;
}

.custom-toast .btn-close:hover{
    background-color: #fdf1f1;
}